#banner-desktop {
  background: var(--accent-gradient-soft);
  border: 1px solid var(--glass-border);
  border-radius: var(--border-radius);
  height: 90px;
  margin: 1rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-right: 0px;
}

#banner-desktop:hover {
  border-color: var(--accent-2);
  transform: translateY(-2px);
}

#banner-desktop .content-info {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 5px;
  padding: 15px;
}

#banner-desktop .icono l-icon {
  font-size: 1.8rem;
  color: var(--color-btn-ctrl);
}

#banner-desktop .titulo {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2px;
}

#banner-desktop .descripcion {
  font-size: 1rem;
  color: var(--text-dim);
}

#btn-close-banner {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0 15px;
  height: 100%; 
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition: background 0.3s ease;
}

#btn-close-banner l-icon {
  font-size: 1.5rem;
}

#btn-close-banner:hover {
  background: rgba(0, 0, 0, 0.3);
}